* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f5f7fb;
}

/* Hide Elements */
.hide {
    display: none !important;
}

#dashboard {
    display: none;
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(45deg,rgb(87, 20, 20),blue);
}
/* LOGIN PAGE */

#loginPage{
    width:100%;
    min-height:100vh;
}

.login-container{
    display:flex;
    min-height:100vh;
    overflow:hidden;
}

/* LEFT SIDE */

.login-left{
    width:50%;
    padding:70px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:#fff;
    background:linear-gradient(135deg,#5b86e5,#36d1dc);
}

.brand-badge{
    display:inline-block;
    width:fit-content;
    padding:10px 18px;
    border-radius:30px;
    background:rgba(255,255,255,.18);
    backdrop-filter:blur(10px);
    font-weight:bold;
    margin-bottom:30px;
}

.login-left h1{
    font-size:52px;
    line-height:1.2;
    margin-bottom:25px;
    color:white;
}

.login-left p{
    font-size:18px;
    line-height:30px;
    color:#f5f5f5;
    margin-bottom:35px;
}

.feature-list ul{
    list-style:none;
    padding:0;
}

.feature-list li{
    margin:15px 0;
    padding:15px 20px;
    border-radius:12px;
    background:rgba(255,255,255,.15);
    backdrop-filter:blur(10px);
    transition:.3s;
    font-size:17px;
}

.feature-list li:hover{
    transform:translateX(8px);
    background:rgba(255,255,255,.25);
}

/* RIGHT SIDE */

.login-right{
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f4f7fb;
}

/* LOGIN CARD */

.login-card{
    width:400px;
    background:#fff;
    padding:45px;
    border-radius:20px;
    box-shadow:0 20px 45px rgba(0,0,0,.12);
    animation:fadeUp .6s ease;
}

.login-header{
    text-align:center;
    margin-bottom:25px;
}

.login-header h2{
    color:#1f2937;
    margin-bottom:8px;
    font-size:30px;
}

.login-header p{
    color:#777;
}

/* Greeting */

.greeting{
    text-align:center;
    color:#1565c0;
    font-size:18px;
    font-weight:600;
    margin-bottom:15px;
}

/* INPUTS */

.input-group{
    margin-bottom:18px;
}

.input-group input{
    width:100%;
    padding:15px 18px;
    border:1px solid #ddd;
    border-radius:12px;
    font-size:16px;
    outline:none;
    transition:.3s;
    box-sizing:border-box;
}

.input-group input:focus{
    border-color:#2196f3;
    box-shadow:0 0 10px rgba(33,150,243,.25);
}

/* REMEMBER */

.login-options{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
    font-size:14px;
}

.login-options a{
    color:#1565c0;
    text-decoration:none;
    font-weight:600;
}

.login-options a:hover{
    text-decoration:underline;
}

/* BUTTON */

.login-card button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    background:linear-gradient(90deg,#2196f3,#1565c0);
    color:white;
    font-size:17px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.login-card button:hover{
    transform:translateY(-3px);
    box-shadow:0 10px 20px rgba(33,150,243,.35);
}

/* FOOTER */

.login-footer{
    margin-top:25px;
    text-align:center;
    color:#666;
}

.login-footer strong{
    color:#1565c0;
}

/* ANIMATION */

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* RESPONSIVE */

@media(max-width:900px){

.login-container{
    flex-direction:column;
}

.login-left,
.login-right{
    width:100%;
}

.login-left{
    padding:50px 30px;
    text-align:center;
}

.login-card{
    width:90%;
    margin:40px 0;
}

.login-left h1{
    font-size:38px;
}

}

/* DASHBOARD */
.dashboard {
    min-height: 100vh;
    background: #eef3ff;
}

/* NAVBAR */

.navbar {
    width: 100%;
    background: linear-gradient(40deg,rgb(114, 94, 202),rgb(0, 0, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.logo h2 {
    color: #000000;
    font-size: 28px;
}

.logo p {
    color: #dfdfdf;
    font-size: 13px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.welcome-text {
    color: #cc0808;
    font-size: 16px;
}

.logout-btn {
    border: none;
    background: #b319f0;
    color: #ffffff;
    padding: 10px 20px;
    border-radius:50px;
    cursor: pointer;
    transition: .3s;
}

.logout-btn:hover {
    background: #dc2626;
}

/* HERO SECTION */
.hero-section {
    width: 92%;
    margin: 30px auto;
    padding: 55px;
    border-radius: 20px;
    background: linear-gradient(135deg,#2563eb,#f63b3b);
    color: white;
    box-shadow: 0 15px 35px rgba(37,99,235,.25);
}

.hero-content h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

.hero-content p {
    max-width: 650px;
    line-height: 1.8;
    margin-bottom: 25px;
}

.explore-btn {
    background: white;
    color: #2563eb;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.explore-btn:hover {
    transform: translateY(-3px);
}

/* STATISTICS*/

.dashboard-stats {
    width: 92%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 20px;
}

.stat-card {
    background:linear-gradient(30deg,lavender,yellow);
    padding: 28px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
    transition: .3s;
}

.stat-card:hover {
    transform: translateY(-8px);
}

.stat-card h3 {
    color: #555;
    margin-bottom: 12px;
}

.stat-card h2 {
    color: #2563eb;
    font-size: 34px;
}

/* SUBJECT SECTION*/

.subject-section {
    width: 92%;
    margin: 45px auto;
}

.section-title {
    text-align: center;
    font-size: 32px;
    color: #d61717;
    margin-bottom: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 25px;
}

.card {
    background: lavender;
    border-radius: 18px;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,.08);
    transition: .3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(37,99,235,.20);
}

.card-icon {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #386adf;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.card h2 {
    color: #2563eb;
    margin-bottom: 12px;
}

.card p {
    color: #666;
    line-height: 1.7;
    margin-bottom: 25px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-footer span {
    color: #2563eb;
    font-weight: 600;
}

.card button {
    border: none;
    background: #000000;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.card button:hover {
    background: #1d4ed8;
}

/* RESPONSIVE DASHBOARD*/

@media (max-width:768px){

    .navbar{
        flex-direction:column;
        gap:15px;
        padding:20px;
        text-align:center;
    }

    .hero-section{
        padding:35px 25px;
    }

    .hero-content h1{
        font-size:30px;
    }

    .dashboard-stats{
        grid-template-columns:1fr;
    }

    .cards{
        grid-template-columns:1fr;
    }

    .card-footer{
        flex-direction:column;
        align-items:flex-start;
        gap:12px;
    }
}
/*QUIZ */

.quiz {
    width: 70%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}

.quiz h2 {
    color: #1565c0;
    margin-bottom: 15px;
}

.quiz h3 {
    margin: 20px 0;
}

.progress {
    width: 100%;
    height: 10px;
    background: #ddd;
    border-radius: 20px;
    margin: 20px 0;
}

#progressBar {
    width: 0%;
    height: 100%;
    background: #1565c0;
    border-radius: 20px;
}

.option {
    background: #f2f2f2;
    padding: 15px;
    margin: 12px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.option:hover {
    background: #dbe9ff;
}

.quiz button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border: none;
    background: #1565c0;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

/* RESULT */

.result {
    width: 500px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}

.result h1 {
    color: #1565c0;
    margin-bottom: 20px;
}

.result h2 {
    margin-bottom: 20px;
}

.result button {
    padding: 12px 25px;
    background: #1565c0;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* HISTORY */

.history {
    width: 90%;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}

.history h2 {
    color: #1565c0;
    margin-bottom: 20px;
}

#history p {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* MOBILE */

@media(max-width:768px) {

    .login-container {
        flex-direction: column;
    }

    .login-left,
    .login-right {
        width: 100%;
        height: auto;
        padding: 40px 20px;
    }

    .login-card {
        width: 90%;
    }

    nav {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .quiz,
    .result,
    .history {
        width: 95%;
    }

}